## Application of Inference Attack Technique

In [1]:
import pandas as pd

# read the previously created datasets
df_is = pd.read_csv("data/is_projects_results.csv")
df_ersu = pd.read_csv("data/ersu_results.csv")
df_alma = pd.read_csv("data/almalaurea_report.csv")
df_outlook = pd.read_csv("data/msoutlook_report.csv")

In [2]:
# merge IS dataset with msoutlook dataset on pseudonym field
df_merge1 = pd.merge(df_is, df_outlook, on="Pseudonym")
df_merge1

                                            Pseudonym  Passed Sex
0   dacc86adae75c417f10ebfba6e9f9b506942ca690a8322...       0   M
1   f1a0015b136d8c9f2a972e14cd846099629f21af914a8a...       1   M
2   1a75a04456bece7de959f2650a71017b3bfa2db8eeacc4...       0   F
3   4df2e709fb1aa8fac6897a7751a23f24315f0cd4a31729...       0   M
4   21fc48cb0d9126a72d7c9e9274618e430743bff3a9d390...       1   M
5   1d7c2e24e473cf75a3a68832675097d218efc802188395...       0   F
6   29209a1b9478ebc6aeb11c92425fbf06fa61595a6c6ea7...       1   F
7   51ca5ce2c85eff6dd3f44e7a986de5d2ef239365c4e71b...       0   F
8   4c33a2a891167f80d3a1169c12a3c54feead96d6f27424...       1   F
9   d4cab7250528c751222728bf9807d3fec0086b9803e5ab...       0   M
10  794b2c6aea21af6c6fb95e9366995fcbb6c0f23aeff5a0...       1   M
11  938c89f6e019326441d646282f580ede470b13766632e3...       0   F
12  2d5ef1d163720d962867acc0a4370989985cc17aaad3c4...       1   F
13  8aac5b844963a2d62c6244a404d53b28b1f8ce2dab6c2f...       1   F
14  e2387ffbe5e8f841a40586d2360dbd76b7548ad4352391...       1   M
15  84c54cd77166ff72fcab032561bea99e15463202f1f06d...       1   F
16  a119a8056081ec9bb41f122bcf58da3f8cdd679e44e257...       1   F
17  90c370789190037276d0613c1e5fa441915f81d7f9760b...       0   M
18  8afe2e85d7eb32a618c9044cd8bc382d11a4cf28504bc6...       0   F
19  9f9d2080b39d33b94e266f478df4ecca4a342bc7f704f3...       0   M
20  d0c733b6f7512154bd74e404a25eda70a8a3609d001d51...       1   M
21  5ad635a2ec760dc8d55a3181b70d79fb16584779e8b534...       1   F
22  687bbc25a34205bdefa03cf678881822f04e57a1f5f066...       1   F
23  eccb46b3f85634e508e257792ad55f9c313230db8bef9e...       1   F
24  fd1c3b9dfbd974c1b6fb0a33e786bf7ff84c7207f9d26f...       0   F
25  f501a157f7dd7ee1d7931256c41600217a9f614ea4b587...       1   M
26  9d20e189677ec4351301f4a04ad1f1d77dd5b3c47183f0...       0   M
27  6098239d3dff4173859757b08efbcd394444684e87800b...       1   M
28  9d5f7ca79bfa1646066754460ec9b2d46d07753a802343...       0   M
29  4fe83c2482aa84a7e2d5f3fc24b262ca67f3b1b7b1f596...       1   F
30  f87649a54babb5ece11636e038b86f91d978bfc13042d5...       1   M
31  433ba2230e46ee568c54f59634fa9c9cd3069603308c0b...       0   M
32  dea564ea59a4a3fa746cda0eab3afd1c690b8816b212ab...       1   M
33  24c2e4a46c34ca44555af00d0afdae05ce1e4e61789241...       1   M
34  724e8c03c1cd66ec35d9cb006534ad6b1e479d809bbff9...       1   F
35  c554625444f882dea2b0fd5fc6694be662ba62f5c529f7...       1   M
36  51e136be645b85e9c32237ff15f96f7e3d2550f72f39e5...       1   F
37  1e97f4d2b3c373a806d8189e790d4e0a70314a5c43fd97...       0   M
38  5cbb3112acd2bd5813d5f6d4d52e50385c030c553c76cd...       0   M
39  7b48251386f7ace80d3bff2f33453552e32cccdeb646f5...       0   F
40  3f85528b7a1e9564ba22759d43025ce134d12c3a0f7f08...       1   F
41  ecd1c553df13a400324db32ef72dd652784ee03bbc6cd3...       1   M
42  db4508cc97a4e78b07ec153b043b39888c1da1855230de...       1   F
43  24e046b29f182db2195e190acbe641a514966e15fdc230...       1   F
44  221962f04dfdbbe1ba103c9363725f0982f532a52434d1...       1   M
45  081d8d1ef6de8af564ee3eaa3c5a0f2b93b070083ce565...       1   M
46  64c9570a79ce77692a54488659e494aa12cf7bf2dc0a69...       1   M
47  664ae2978a6428c3d9776f7af111933d7918d30d80e8e3...       1   F
48  6328e44b2f9c512ba5b727a48e4c618951a15bf08cf4a5...       1   M
49  dfe4c255d50884a7055b99267ea84dee407ddc822c3673...       1   F

In [3]:
# filter female students
df_merge1 = df_merge1.query("Sex == 'M'")
# filter students that failed the project
df_merge1= df_merge1.query("Passed == 1")
df_merge1

                                            Pseudonym  Passed Sex
1   f1a0015b136d8c9f2a972e14cd846099629f21af914a8a...       1   M
4   21fc48cb0d9126a72d7c9e9274618e430743bff3a9d390...       1   M
10  794b2c6aea21af6c6fb95e9366995fcbb6c0f23aeff5a0...       1   M
14  e2387ffbe5e8f841a40586d2360dbd76b7548ad4352391...       1   M
20  d0c733b6f7512154bd74e404a25eda70a8a3609d001d51...       1   M
25  f501a157f7dd7ee1d7931256c41600217a9f614ea4b587...       1   M
27  6098239d3dff4173859757b08efbcd394444684e87800b...       1   M
30  f87649a54babb5ece11636e038b86f91d978bfc13042d5...       1   M
32  dea564ea59a4a3fa746cda0eab3afd1c690b8816b212ab...       1   M
33  24c2e4a46c34ca44555af00d0afdae05ce1e4e61789241...       1   M
35  c554625444f882dea2b0fd5fc6694be662ba62f5c529f7...       1   M
41  ecd1c553df13a400324db32ef72dd652784ee03bbc6cd3...       1   M
44  221962f04dfdbbe1ba103c9363725f0982f532a52434d1...       1   M
45  081d8d1ef6de8af564ee3eaa3c5a0f2b93b070083ce565...       1   M
46  64c9570a79ce77692a54488659e494aa12cf7bf2dc0a69...       1   M
48  6328e44b2f9c512ba5b727a48e4c618951a15bf08cf4a5...       1   M

In [4]:
# merge the previous dataset with almalaurea dataset on pseudonym field
df_merge2 = pd.merge(df_merge1, df_alma, on="Pseudonym")
df_merge2

                                            Pseudonym  Passed Sex  Off-site
0   f1a0015b136d8c9f2a972e14cd846099629f21af914a8a...       1   M         0
1   21fc48cb0d9126a72d7c9e9274618e430743bff3a9d390...       1   M         0
2   794b2c6aea21af6c6fb95e9366995fcbb6c0f23aeff5a0...       1   M         0
3   e2387ffbe5e8f841a40586d2360dbd76b7548ad4352391...       1   M         0
4   d0c733b6f7512154bd74e404a25eda70a8a3609d001d51...       1   M         0
5   f501a157f7dd7ee1d7931256c41600217a9f614ea4b587...       1   M         0
6   6098239d3dff4173859757b08efbcd394444684e87800b...       1   M         1
7   f87649a54babb5ece11636e038b86f91d978bfc13042d5...       1   M         1
8   dea564ea59a4a3fa746cda0eab3afd1c690b8816b212ab...       1   M         0
9   24c2e4a46c34ca44555af00d0afdae05ce1e4e61789241...       1   M         0
10  c554625444f882dea2b0fd5fc6694be662ba62f5c529f7...       1   M         0
11  ecd1c553df13a400324db32ef72dd652784ee03bbc6cd3...       1   M         1
12  221962f04dfdbbe1ba103c9363725f0982f532a52434d1...       1   M         0
13  081d8d1ef6de8af564ee3eaa3c5a0f2b93b070083ce565...       1   M         0
14  64c9570a79ce77692a54488659e494aa12cf7bf2dc0a69...       1   M         0
15  6328e44b2f9c512ba5b727a48e4c618951a15bf08cf4a5...       1   M         0

In [5]:
# filter not off-site students
df_merge2 = df_merge2.loc[df_merge2["Off-site"] == 1]
df_merge2

                                            Pseudonym  Passed Sex  Off-site
6   6098239d3dff4173859757b08efbcd394444684e87800b...       1   M         1
7   f87649a54babb5ece11636e038b86f91d978bfc13042d5...       1   M         1
11  ecd1c553df13a400324db32ef72dd652784ee03bbc6cd3...       1   M         1

In [6]:
# merge the previous dataset with ersu dataset
df_merge3 = pd.merge(df_merge2, df_ersu, on="Pseudonym")
df_merge3

,Pseudonym,Passed,Sex,Off-site,Holder
0,6098239d3dff4173859757b08efbcd394444684e87800b...,1,M,1,1
1,f87649a54babb5ece11636e038b86f91d978bfc13042d5...,1,M,1,1
2,ecd1c553df13a400324db32ef72dd652784ee03bbc6cd3...,1,M,1,1

In [7]:
# save pseudonyms that match Bob's profile
df_merge3.to_csv("data/filtered_students.csv", index=False)